.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
  height: 10vh;
  background-color: var(--green);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  cursor: pointer;
}
.card:hover {
  transform: scale(1.1);
}
.text__area h1 {
  color: white;
}
